
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    overflow: hidden;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #111;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
}
.no-link:link, .no-link:visited, .no-link:hover, .no-link:active {
    text-decoration: none;
    color: inherit;
}
.center-sizing {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.padding {
    padding: 20px;
}

.streamel-site-container {
    position: relative;
    bottom 0px;
    background-color: #F7F7F7;
}

/* Header */
.streamel-header {
    position: relative;
    background-color: #111;
    height: 70px;
    z-index: 5;
	display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.streamel-header-item {
    height: 100%;
}
.streamel-header .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -15px;
}

/* Content */
.streamel-content {
    position: relative;
    min-height: 100%;
}

/* Footer */
.streamel-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #111;
    box-sizing: border-box;
    padding: 30px;
    color: #EEE;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Search Bar */
.streamel-search-bar {
    width: 500px !important;
    margin-top: 12px !important;
}

/* Home */
.streamel-home-banner {
    position: relative;
    height: 300px;
    background-image: url('/public/images/backdrop.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* ContentView Menu */

.streamel-cv-menu {
    position: relative;
    background-color: #638EF0;
    height: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.streamel-cv-menu-content {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.streamel-cv-menu-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;
    display: flex;
    justify-content:center;
    align-items:center;
}

.streamel-cv-menu-background-image {
    width: 1200px;
    transform: translateZ(-0.5px) scale(1.5);
    z-index:0;
    flex-shrink: 0;
}

.streamel-cv-menu-background-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to right, rgba(99,142,240, 1.0), rgba(99,142,240, 0.75), rgba(99,142,240, 0.75), rgba(99,142,240, 0.75), rgba(99,142,240, 1.0)); 
    z-index: 1;
    transform: translateZ(0);
}
.streamel-cv-menu-background-overlay:hover {
    background: linear-gradient(to right, rgba(99,142,240, 1.0), rgba(99,142,240, 0.85), rgba(99,142,240, 0.85), rgba(99,142,240, 0.85), rgba(99,142,240, 1.0)); 
}

.streamel-cv-menu-poster {
    height: 230px;
    width: 152px;
    z-index: 2;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    flex-shrink: 0;
    pointer-events: none;
    transform: translateZ(0);
}

.streamel-cv-menu-text {
    flex-shrink: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 100%;
    z-index: 2;
    color: #FFF;
    pointer-events: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: translateZ(0);
}

@media (min-width: 1200px) {

}
@media (max-width: 1199px) and (min-width: 600px) {
    .streamel-cv-menu-background-overlay {
        background: rgba(99,142,240, 0.75);
    }
    .streamel-cv-menu-background-overlay:hover {
        background: rgba(99,142,240, 0.85);
    }
}
@media (max-width: 599px) {
    .streamel-cv-menu-poster {
        height: 154px;
        width: 100px;
        border-radius: 5px;
        margin-right: 20px;
    }
    .streamel-cv-menu-text p {
        display: none;
    }
    .streamel-cv-menu-text {
        height: auto;
    }
}




/* Video */
@media screen and (min-aspect-ratio: 5/4) {
    .video-container {
        width: 100%;
    }
    .video-player {
        height: 70vh;
        background-color: #333;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-aspect-ratio: 5/4) {
    .video-player {
        width: 100%;
        background-color: #333;
    }
}
