/*
#638EF0
*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
}
.no-link:link, .no-link:visited, .no-link:hover, .no-link:active {
    text-decoration: none;
    color: inherit;
}
.center-sizing {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.padding {
    padding: 10px;
}


.streamel-site-container {
    position: relative;
    min-height: 100vh;
}

/* Header */
.streamel-header {
    position: relative;
    background-color: #FFF;
    height: 70px;
    z-index: 5;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-bottom: solid 7px #638EF0;
}
.streamel-header-logo {
    align-self: stretch;
}
.streamel-header-item {
    font-size: 18px;
    color: #000;
    margin-right: 30px;
    height: 100%;
    line-height: 70px;
    box-sizing: border-box;
    transition: all 0.1s ease;
    border-bottom: 0px solid #638EF0;
}
.streamel-header-item:hover {
    border-bottom: solid 10px #638EF0;
}

/* Content */
.streamel-content {
    position: relative;
    min-height: 100%;
}

/* Footer */
.streamel-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    padding: 20px;
    height: 100px;
    vertical-align: middle;
    background-color: #FFF;
    box-sizing: border-box;
    z-index: 5;
    border-top: solid 7px #638EF0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Search Bar */
.streamel-search-bar {
    width: 500px !important;
    margin-top: 12px !important;
}

/* Home */
.streamel-home-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: #FFF;
    background-image: url('/public/images/backdrop.png'), url('/public/images/blue.png');
    background-size: auto 100%, 50% 100%;
    background-position: center center, right center;
    background-repeat: no-repeat, no-repeat;
    transform: translateZ(-1px) scale(2) translateY(-16vh);
    z-index: 1;
}
.streamel-home-spacer {
    height: 300px;
}
.streamel-home-content {
    position: relative;
    background-color: #FFF;
    border-top: solid 7px #638EF0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 1px;
    z-index: 3;
}


/* ContentView Menu */

.streamel-cv-menu {
    position: relative;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streamel-cv-menu-content {
    position: relative;
    max-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-bottom: solid 7px #638EF0;
    transition: all 0.1s ease;
}
.streamel-cv-menu-content:hover {
    border-bottom: solid 14px #638EF0;
}
.streamel-cv-menu-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;
    display: flex;
    justify-content:center;
    align-items:center;
}
.streamel-cv-menu-background-image {
    width: 1200px;
    transform: translateZ(-0.5px) scale(1.5);
    z-index:0;
    flex-shrink: 0;
}

.streamel-cv-menu-background-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0, 0.75);
    z-index: 1;
    transform: translateZ(0);
    transition: all 0.1s ease;
}
.streamel-cv-menu-background-overlay:hover {
    background-color: rgba(0,0,0, 0.5);
}

.streamel-cv-menu-poster {
    height: 140px;
    width: 92px;
    z-index: 2;
    background-size: cover;
    margin-right: 10px;
    flex-shrink: 0;
    pointer-events: none;
    transform: translateZ(0);
}

.streamel-cv-menu-text {
    flex-shrink: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 100%;
    z-index: 2;
    color: #FFF;
    pointer-events: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: translateZ(0);
}
.streamel-cv-menu-text h2 {
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .below-600 {
        display: none;
    }
}
@media (max-width: 599px) {
    .above-600 {
        display: none;
    }

    .streamel-header {
        height: 45px;
    }
    .streamel-header-item {
        display: none;
    }
    .streamel-home-banner {
        background-image: url('/public/images/backdropv.png'), url('/public/images/blue.png');
    }

    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
}




/* Video */
.streamel-video-container {
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-bottom: solid 7px #638EF0;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.streamel-video-player {

}
.streamel-video-player video {

}
.streamel-video-info {
    align-self: stretch;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.streamel-video-info-text {
    color: #FFF;
    align-self: stretch;
}

/* Thin Displays */
@media screen and (max-aspect-ratio: 5/4) {
    .streamel-video-container {
        flex-direction: column;
    }
    .streamel-video-player {
        width: 100%;
    }
    .streamel-video-player video {
        width: 100%;
    }
    .streamel-video-info {
        height: 200px;
        flex-direction: row;
    }
    .streamel-video-info-image {
        width: 120px;
        margin-right: 10px;
    }
}

/* Thicker Displays */
@media screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .streamel-video-container {
        flex-direction: column;
    }
    .streamel-video-player {
        height: 70vh;
    }
    .streamel-video-player video {
        height: 100%;
    }
    .streamel-video-info {
        height: 200px;
        flex-direction: row;
    }
    .streamel-video-info-image {
        width: 120px;
        margin-right: 10px;
    }
}
/* Thickest Displays */
@media screen and (min-aspect-ratio: 3/2) {
    .streamel-video-container {
        flex-direction: row;
    }
    .streamel-video-player {
        height: 70vh;
    }
    .streamel-video-player video {
        height: 100%;
    }
    .streamel-video-info {
        width: 300px;
        flex-direction: column;
    }
    .streamel-video-info-image {
        height: 250px;
    }
}
