
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #111;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 300;
}
.no-link:link, .no-link:visited, .no-link:hover, .no-link:active {
    text-decoration: none;
}
.center-sizing {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.padding {
    padding: 20px;
}

.streamel-site-container {
    position: relative;
    bottom 0px;
    background-color: #DDD;
}

/* Header */
.streamel-header {
    position: relative;
    background-color: #111;
    height: 70px;
    z-index: 100;
	display: flex;
    justify-content: space-between;
}
.streamel-header-item {
    height: 100%;
}
.streamel-header .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -15px;
}

/* Content */
.streamel-content {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

/* Footer */
.streamel-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #111;
    box-sizing: border-box;
    padding: 30px;
    color: #EEE;
    z-index: 100;
}

/* Search Bar */
.streamel-search-bar {
    width: 500px !important;
    margin-top: 12px !important;
}

/* Home */
.streamel-home-banner {
    position: relative;
    height: 300px;
    background-image: url('/public/images/backdrop.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.streamel-home-center-button {
    position: relative;
    background-color: #6495ED;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    padding: 14px;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.streamel-home-center-button:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

/* Search */
.streamel-search-content {
    position: relative;
    min-height: 700px;
    padding: 20px;
}

.streamel-search-item {
    background-color: #FFF;
    position: relative;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1200px;
    height: 250px;
    padding-left: 125px;
    border-radius: 125px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    transition: all 0.1s ease-in;
    transition-property: color, background-color;
    background-size: contain;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.streamel-search-item:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.streamel-search-item-thumbnail {
    position: relative;
    height: 250px;
    width: 445px;
    background-size: cover;
    flex-shrink: 0;
    z-index: 3;
}
.streamel-search-item-thumbnail-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.85), rgba(255,255,255, 0.5), rgba(255,255,255,0.25), rgba(255, 255, 255, 0))
}

.streamel-search-item-content {
    display: flex;
    align-items: center;
    z-index:4;
}
.streamel-search-item-poster {
    height: 210px;
    width: 142px;
    border-radius: 5px;
    flex-shrink: 0;
    background-size: cover;
    z-index: 3;
}

.streamel-search-item-text {
    padding-left: 20px;
    height: 250px;
    flex-grow: 1;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    /* Header */
    .streamel-header-item-searchbar {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 45px;
        padding: 0px;
    }
    .streamel-search-bar {
        border-radius: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }
    /*.streamel-header {
        height: 115px;
    }*/

    /* SRP */
    .streamel-search-content {
        padding-right: 0px;
        padding-left: 0px;
    }
    .streamel-search-item {
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .streamel-search-item-poster {
        display: none;
    }
    .streamel-search-item-thumbnail {
        display: none;
    }

}

/* Video */
@media screen and (min-aspect-ratio: 5/4) {
    .video-container {
        width: 100%;
    }
    .video-player {
        height: 70vh;
        background-color: #333;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-aspect-ratio: 5/4) {
    .video-player {
        width: 100%;
        background-color: #333;
    }
}
